
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="background-color:black">
    <div style=" color:red">
        <h2>Gallery</h2>
    </div>
    <div style="background-color:black"></div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <h3>1984 Sikh Shaheeds Image Gallery</h3>
    </div>
</div>
<div style="background-color:black">
    <img src="~/Images/Sant 1.jpg" />
    <div style="color:red">
        <h6>Sant Jarnail Singh Ji Khalsa Bhindranwale</h6>
    </div>
</div>
<div style="background-color:black">
    <img src="~/Images/Bahi Amrik singh.jpg" />
    <div style="color:red">
        <h6>Bhai Amrik Singh Khalsa</h6>
    </div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <img src="~/Images/Shaheed 1.jpg"  width="200" height="200"/>
        <h6>Shaheed Bhai Thara Singh</h6>
    </div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <img src="~/Images/Sikh shaheed 1.jpg" width="200" height="200" />
        <h6>Shaheed Bhai Surinder Singh Sodhi</h6>
    </div>
</div>
<div style="background-color:black">

    <img src="~/Images/Brhama 1.jpg"  width="200" height="200"/>
    <div style="color:red">
        <h6>Shaheed Bhai Avtar Singh Brahma</h6>
    </div>
   
</div>

