
@{
    ViewBag.Title = "Matryrs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="background-color:black">
    <div style="color:red">
        <h2>Matryrs</h2>
    </div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <h6>
            Sant Jarnail Singh Ji Khalsa Bhindranwale

            14th Jathedar of Damdami Taksal


        </h6>
    </div>
</div>

<div style="background-color:black">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/Saint 1.jpg" />
        </div>
    </div>
</div>
<div style="background-color:black">
    <div class="row">
        <div class="col-md-6">
            <div style="color:red">
                <p>
                    Sant Jarnail Singh Ji Khalsa Bhindranwala known as ‘Sant Ji’ was the 14th leader of the Damdami Taksal, a Sikh religious group based in Punjab India during the late 1970’s and early 1980’s. Sant Ji carried heavy influence amongst many Sikh youth in Punjab during this time as the leader of the Damdami Taksal. Sant Ji spread the original values of Sikhi and persuaded people young and old to follow the original rules and tenets of the Sikh religion.

                    In 1981, Sant Ji was arrested for his suspected involvement in the murder of Lala Jagat Narain, the proprietor of the Hind Samachar Group. Although Sant Ji willingly surrendered to police (he was later released due to lack of evidence) he was kept on close watch by Indian police officials.

                    Sant Ji is mainly notable for his involvement in the ‘Dharam Yudh Morcha’ alongside Sant Harchand Singh Longowal which was for the basic human rights of Punjabis stated within the ‘Anandpur Sahib Resolution’ and for the ‘Battle of Amritsar’ in June 1984, in which he and other defenders of the faith defended Sri Akaal Takht Sahib complex, including the Sri Darbar Sahib against the invading Indian army.
                </p>
            </div>
        </div>
    </div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/Saint 2.jpg" />
            </div>
        </div>
    
    </div>
</div>

