
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div style="background-color:black">
    <div style="color:red">
        <h2>History</h2>
    </div>
</div>

<div style="background-color:black">
    <div style="color:red">
        <h6>
            The Battle of 6th  June 1984.
        </h6>
    </div>
</div>
<div style="background-color:black">
    <div class="row">
        <div class="col-md-5">
            <img src="~/Images/Punjab 1984 1.jpg" />
            
        </div>
    </div>
   
</div>
<div style="background-color:black">
    <div style="color:red">
        <h6>Operation Bluestar</h6>
        <p>The battle of Amritsar codenamed ‘Operation Bluestar’ by the Indian army started on 1st June 1984. The Indian army invaded the Sri Harmandir Sahib complex on the orders of the then Prime Minister of India, Indira Gandhi. At the time of the operation, close to 100,000 army troops had been deployed throughout Punjab. This attack on Sri Akaal Takht Sahib, the Sikh throne was to instil fear into the Sikhs of India and to quieten the free voice of the Sikhs. The Army commanders had thought that they would convince the Singhs of Sri Guru Gobind Singh Ji Maharaj to surrender; however, abiding by Khalsa traditions, the handful of Sikh men, women and children stood their ground and defended Sri Harimandir Sahib with their lives, and by doing so they had their names written in golden ink on the pages of Sikh history which we will always remember.</p>
        <p>Under the orders of Indira Gandhi, army generals Ranjit Dayal, Krishnaswamy Sunderji and Kuldip Brar drew-up a twofold plan. To achieve the prime objective to get Sant Jarnail Singh Ji Bhindranwale out of the Sri Harimandir Sahib complex, they had planned a commando operation. Commandos were to be supported by infantry, the tanks were only to be used as platforms for machine guns to neutralize fire on troops approaching the complex, and to cover the exits in case anyone tried to escape.</p>
    </div>
</div>
<div style=" background-color:black">
    <div style="color:red">
        <div class="row">
            <div class="col-md-5">
                <img src="~/Images/Punjab 1984 2.jpg" />
            </div>
        </div>
       
    </div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <h6>Operation Black Thunder 1986</h6>
        <p>
            What became subsequently known as Operation Black Thunder 1 (30thApril 1986) whereby the Indian security forces recaptured the Sri Harimandir Sahib complex, Amritsar, from different varieties of militants was an important event in the current history of Punjab, after the battle of Amritsar in June 1984.

            The International Human Rights Organisation activists, D.S. Gill, Gurcharan Singh Grewal, Avtar Singh Gill, G.S. Bal and Bhupinder Singh Somal, in a team had enquired into the events and had compiled a detailed report. The report in a summarised form is being reproduced below.

            The period between June 1984 and April 1986 saw several ups and downs in Sikh politics. The Akali Dal led agitation has fizzled out in the wake of operation Blue Star. Militant Sikhs who were in disarray tried to reassemble their forces culminating in the January 26, 1986, Sarbat Khalsa (Sikh congregation at the Akal Takht), in the Golden Temple Complex. Within the militants, there were strands of thought and action. The Panthic Committee comprising hard-core militants led an armed struggle against the Indian State while a large number of militants followed Baba Joginder Singh, father of Sant Jarnail Singh Bhindranwale. The Baba led militants were operating semi-underground while the Panthic committee led militants were acting completely underground.
        </p>
    </div>
</div>