
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="background-color:black">
    <div style="color:red">
        <h2>Home</h2>
    </div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <h2>The Battle of Amritstar 1984</h2>
    </div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <p>
            1984 June – The Battle of Amritsar

            After the Sikh massacre of Amritsar and Kanpur, the reputation of Sant Jarnail Singh Ji Bhindranwale the Lion of Lions, rose tremendously as a powerful Sikh leader in the community as well as Sikh political circles. From 1977 until 1983, he led his agitation, the Dharam Yudh Mocha against the Arya Samaj, the government and other fanatic Hindu organizations who were working against Sikhi and the cultural concept of Punjab. Many of his followers were young rural Sikhs, who had been down-trodden by both the state and central government and suffered from unemployment, poverty and being treated as second-class citizens. After a long trial that dragged on for 3 to 4 years, Gurbachana, the Narakhdhari leader, was acquitted by an Indian court, even though more than 10 persons identified him as one of the murderers and testified in court, it was clearly evident that there was a political backing behind the cult leader. Sikhs then served justice for themselves by assassinating Gurbachana.
        </p>
    </div>

</div>


