<<<<<<< HEAD
﻿
@{
    ViewBag.Title = "Matryrs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="background-color:black">
    <div style="color:red">
        <h2>Matryrs</h2>
    </div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <h6>
            Sant Jarnail Singh Ji Khalsa Bhindranwale

            14th Jathedar of Damdami Taksal


        </h6>
    </div>
</div>

<div style="background-color:black">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/Saint 1.jpg" />
        </div>
    </div>
</div>
<div style="background-color:black">
    <div class="row">
        <div class="col-md-6">
            <div style="color:red">
                <p>
                    Sant Jarnail Singh Ji Khalsa Bhindranwala known as ‘Sant Ji’ was the 14th leader of the Damdami Taksal, a Sikh religious group based in Punjab India during the late 1970’s and early 1980’s. Sant Ji carried heavy influence amongst many Sikh youth in Punjab during this time as the leader of the Damdami Taksal. Sant Ji spread the original values of Sikhi and persuaded people young and old to follow the original rules and tenets of the Sikh religion.

                    In 1981, Sant Ji was arrested for his suspected involvement in the murder of Lala Jagat Narain, the proprietor of the Hind Samachar Group. Although Sant Ji willingly surrendered to police (he was later released due to lack of evidence) he was kept on close watch by Indian police officials.

                    Sant Ji is mainly notable for his involvement in the ‘Dharam Yudh Morcha’ alongside Sant Harchand Singh Longowal which was for the basic human rights of Punjabis stated within the ‘Anandpur Sahib Resolution’ and for the ‘Battle of Amritsar’ in June 1984, in which he and other defenders of the faith defended Sri Akaal Takht Sahib complex, including the Sri Darbar Sahib against the invading Indian army.
                </p>
            </div>
        </div>
    </div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/Saint 2.jpg" />
            </div>
        </div>
    
    </div>
</div>

=======
﻿
@{
    ViewBag.Title = "Matryrs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="background-color:black">
    <div style="color:red">
        <h2>Matryrs</h2>
    </div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <h6>
            Sant Jarnail Singh Ji Khalsa Bhindranwale

            14th Jathedar of Damdami Taksal


        </h6>
    </div>
</div>

<div style="background-color:black">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/Saint 1.jpg" />
        </div>
    </div>
</div>
<div style="background-color:black">
    <div class="row">
        <div class="col-md-6">
            <div style="color:red">
                <p>
                    Sant Jarnail Singh Ji Khalsa Bhindranwala known as ‘Sant Ji’ was the 14th leader of the Damdami Taksal, a Sikh religious group based in Punjab India during the late 1970’s and early 1980’s. Sant Ji carried heavy influence amongst many Sikh youth in Punjab during this time as the leader of the Damdami Taksal. Sant Ji spread the original values of Sikhi and persuaded people young and old to follow the original rules and tenets of the Sikh religion.

                    In 1981, Sant Ji was arrested for his suspected involvement in the murder of Lala Jagat Narain, the proprietor of the Hind Samachar Group. Although Sant Ji willingly surrendered to police (he was later released due to lack of evidence) he was kept on close watch by Indian police officials.

                    Sant Ji is mainly notable for his involvement in the ‘Dharam Yudh Morcha’ alongside Sant Harchand Singh Longowal which was for the basic human rights of Punjabis stated within the ‘Anandpur Sahib Resolution’ and for the ‘Battle of Amritsar’ in June 1984, in which he and other defenders of the faith defended Sri Akaal Takht Sahib complex, including the Sri Darbar Sahib against the invading Indian army.
                </p>
            </div>
        </div>
    </div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/Saint 2.jpg" />
            </div>
        </div>
    
    </div>
</div>

<div style="background-color:black">
    <div style="color:red">
        Shaheed Bhai Amrik Singh Khalsa
    </div>
    <img src="~/Images/Bahi Amrik singh.jpg" />
    <div style="color:red">
        <h6>Sikh Student Federation</h6>
        <p>
            Bhai Amrik Singh was born in 1948, he is the son of Sant Kartar Singh Bhindranwale who was the chief of the Bhindranwale Mehta Jatha. Bhai Sahib had passed his M.A. in Punjabi from Khalsa College at Amritsar. After this he began research work for his PHD.

            He was well versed in Gurbani and Sikh literature. He devoted much of his life for Sikh missionary activities. Bhai Amrik Singh was also one of the Sikh community’s most prominent leaders along with Sant Jarnail Singh Bhindranwale.
        </p>
    </div>
    <
</div>
<div style="background-color:black">
    <div style="color:red">
        <img src="~/Images/Thara Singh.jpg" />
        <h6>Shaheed Bhai Thara Singh</h6>
        <p>Jathedar Baba Thara Singh was born in 1924 in Aurangabad, Maharashtra. His earlier name was Dhian Singh. When Baba Gurbachan Singh Ji Bhindranwale did katha in Aurangabad, Dhian Singh was inspired to take Amrit. After taking Amrit from the Panj Pyare, his name was changed to Avtar Singh. Baba Ji got this name, Avtar Singh, inscribed on his left arm. Few weeks later, he joined Dam Dami Taksal Jatha and came to Punjab and started living in Taksal as a student. Immersed in Naam, Sewa, Santhaya, Baba Ji soon attained high spirituality study of Gurmukhi and became very close to Sant Baba Kartar Singh Ji Bhindranwale.</p>
    </div>
</div>
<div style="background-color:black">
    <div style="color:red">
        <img src="~/Images/Surinder Singh Sodhi 1.jpg" />
        <h6>Shaheed Bhai Surinder Singh Sodhi</h6>
        <p>Bhai Surinder Singh Sodhi was born in the house of Jathedar Daljit Singh and from the womb of Mata Narinder Kaur in the year of 1962 in the village of Bulowal, district Hoshiarpur. Bhai Sahib had a sister, Bibi Gurwinder Kaur who was approximately three years older than Bhai Sahib. Bhai Sahib was only two years old when his mother, Mata Narinder Kaur passed away after having a heart attack. Both brother and sister were looked after their grandmother, Mata Charan Kaur. Bhai Sahib was 7seven years old when his father, Jathedar Daljit Singh also passed away. Bhai Sahib was called Guddu by his loved ones and his eyes would take over people’s hearts. Mata Charan Kaur named Bhai Sahib Sodhi with love, now the whole family was calling Bhai Sahib, Sodhi. Bhai Sahib’s grandfather was Sardar Beant Singh who had three sons, Giani Mohan Singh, Jathedar Daljit Singh and Sardar Trilok Singh. The whole family had lived together and had attended the Akhand Kirtani Jatha programmes.</p>
    </div>
</div>
<div style="background-color:black">

    <div style="color:red">

        <img src="~/Images/Brhama 1.jpg" />
        <h6>Bhai Avtar Singh Brahama</h6>
        <p>
            Khalistan Liberation Force



            One of the most famous and effective Khalsa generals to have taken part in the Sikh Liberation Movement was Bhai Avtar Singh Brahma. The name of “Brahma” used to strike terror into the hearts of Indian Security Forces. Bhai Brahma also had a very special relationship with Canadian and other Western Singhs who had gone to fight for Sikh Freedom. Bhai Avtar Singh was a true Nihang Singh of Guru Gobind Singh and when the Panth needed his head, he was prepared to make the sacrifice.

            Bhai Avtar Singh Brahma was born in 1951 in village Brahmpura, which falls in the Tarn Taran area of Amritsar district. Bhai Brahma’s parents were Sardar Sohan Singh and Mata Chanan Kaur. Bhai Avtar Singh was the youngest of four brothers. His three elder brothers, Sardar Balkar Singh, Sardar Sadha Singh and Sardar Hardev Singh continue to live in the village and farm for a living.

            Bhai Avtar Singh completed his early education until the fifth grade in the village primary school. After this, he began to work in the family’s farm.
        </p>
    </div>
</div>